head {
}

h1 {
  font-family: "ACaslonProItalic"
}

h4 {
  font-family: "ACaslonProItalic";
  font-size: 24px;
  line-height: 22px;
}

p {
  font-family: "FGroteskBook";
  font-size: 20px;
  line-height: 22px;
}

img {
  max-width: 90%;
}

figcaption {
  font-family: "ACaslonProItalic";
  font-size: 20px;
}

.contentbox {
  position: absolute;
  max-width: 800px;
  max-height: 1000px;
  overflow-y: scroll;
  color: white;
  background-color: pink;
  box-shadow: 0 0 17px 3px pink;
}

.content-button {
  font-family: "ACaslonProItalic";
  font-size: 30px;
  border-color: none;
}

.content {
  margin: 50px;
  display: none;
}

.content img {
  width: 100%;
}

.to-do-list {
  font-family: "MotherNatureisaLesbian";
  font-size: 30px;
}

@media print {
  .contentbox {
    position: relative;
    top: 0;
    page-break-after: always;
  }
  .content {
    display: block;
  }
}
